.border {
  border: var(--border);
}

.board {
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.list {
  border: var(--border);
  padding: 10px;
  max-width: 240px;
  min-width: 240px;
  border-radius: 10px;
  font-size: 14px;
}

.content {
  margin: 20px 100px;
}

.zoomIn {
  animation: zoomIn 0.3s ease-in forwards;
}

.checked {
  text-decoration: line-through;
}
.icons-toggle-item--action,
.action--icons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icons-toggle-item--action span {
  font-size: 20px;
}
.icons-toggle-item--action .action--icons .icon--checked {
  display: none;
}

.icons-toggle-item--action:hover .action--icons .icon--checked {
  display: block;
}
.icons-toggle-item--action:hover .action--icons .icon--pending {
  display: none;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
