<h1>{{ title }}</h1>
<div class="board border">
  <div class="list border" *ngFor="let i of lists; let x = index">
    <h3>{{ i.title }} {{ x }}</h3>
    <hr />
    <div>
      <form>
        <input
          [(ngModel)]="i.newItem"
          [ngModelOptions]="{ standalone: true }"
          type="text"
        />
        <button
          type="submit"
          (click)="addItemToList(i)"
          [disabled]="!i.newItem"
          name="input_list_{{ x }}"
        >
          +
        </button>
      </form>
    </div>

    <div>
      <div *ngFor="let a of i.items" class="zoomIn">{{ a.title }}</div>
    </div>
    <div>
      <hr />
      {{ i.items.length }} items
    </div>
  </div>

  <div class="list border">
    <button (click)="addList()">+ adicionar</button>
  </div>
</div>
