<app-top-bar></app-top-bar>
<div class="content">
  <div class="board">
    <div class="list border" *ngFor="let i of lists; let x = index">
      <h3>{{ i.title }} {{ x }}</h3>
      <div>
        <form (ngSubmit)="addItemToList(i)">
          <input
            [(ngModel)]="i.newItem"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="input"
            placeholder="What needs to be done?"
          />
        </form>
      </div>

      <div class="list-container" role="menu">
        <div *ngFor="let a of i.items" class="zoomIn list-item" role="listitem">
          <span
            [ngClass]="{ checked: a.completed }"
            class="flex ai-center flex-1"
            (click)="toggleItem(a)"
          >
            <div
              [ngClass]="{ checked: a.completed }"
              class="fake-radio border m-r-10"
            ></div>
            {{ a.title }}
            <span *ngIf="a.editable">can.edit</span>
          </span>
          <span (click)="toogleEdit(a)" style="width: 20px">
            <i class="list-item-icon material-icons">edit</i>
          </span>
        </div>
      </div>

      <div>
        <small class="text-gray">
          <span *ngIf="totalListChecked(i)">{{ totalListChecked(i) }} /</span>
          {{ i.items.length }} items
        </small>
      </div>
    </div>

    <div class="list border">
      <button (click)="addList()">+ adicionar</button>
    </div>
  </div>
</div>
