.border {
  border: var(--border);
}

.board {
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.list {
  border: var(--border);
  padding: 10px;
  max-width: 240px;
  min-width: 240px;
  border-radius: 10px;
}

.content {
  margin: 20px 100px;
}

.zoomIn {
  animation: zoomIn 0.3s ease-in forwards;
}

.checked {
  text-decoration: line-through;
}

.fake-radio {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.fake-radio.checked {
  background: var(--primary);
  border-color: var(--primary);

  animation: increase 0.8s ease-in forwards;
}

@keyframes increase {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
