/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #3498db;

  --border: 1px solid #ccc;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}
.input:focus {
  border: 2px solid var(--primary);
  padding: 0 9px;
}

.list-container {
  margin: 10px 0;
}

.list-item {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item-icon {
  font-size: 16px;
  cursor: pointer;
}
