* {
  box-sizing: border-box;
}

:root {
  --primary: #3498db;

  --border: 1px solid #ccc;
}
html,
body {
  height: 100%;
  width: 100%;
  color: #444;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}
.input:focus {
  border: 2px solid var(--primary);
  padding: 0 9px;
}

.list-container {
  margin: 10px 0;
}

.list-item {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: background;
  transition: background 0.2s ease-in;
  border-radius: 8px;
  padding: 0 5px;
}

.list-item:hover {
  background: #f1f1f1;
}

.list-item-icon {
  font-size: 16px;
  cursor: pointer;
}

.text-gray {
  color: #888;
}

.flex {
  display: flex;
}
.ai-center {
  align-items: center;
}
.jc-between {
  justify-content: space-between;
}

.m-r-10 {
  margin-right: 10px;
}
.flex-1 {
  flex: 1;
}
