* {
  box-sizing: border-box;
}

:root {
  --primary: #3498db;

  --success: #2ecc71;
  --danger: #e74c3c;
  --warning: #e67e22;
  --info: var(--primary);

  --border: 1px solid #ccc;
}
html,
body {
  height: 100%;
  width: 100%;
  color: #444;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.input-text {
  border: none;
  outline: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  width: 100%;
}
.input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}
.input:focus {
  border: 2px solid var(--primary);
  padding: 0 9px;
}

.list-container {
  margin: 10px 0;
}

.list-item {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: background;
  transition: background 0.2s ease-in;
  border-radius: 8px;
  padding: 0 5px;
}

.list-item:hover {
  background: #f1f1f1;
}

.list-item-icon {
  font-size: 16px;
  cursor: pointer;
}

.text-gray {
  color: #888;
}

.flex {
  display: flex;
}
.ai-center {
  align-items: center;
}
.jc-between {
  justify-content: space-between;
}

.m-r-10 {
  margin-right: 10px;
}
.flex-1 {
  flex: 1;
}
.jc-end {
  justify-content: flex-end;
}
.p-10 {
  padding: 10;
}

.btn {
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.05s ease-in;
  font-weight: 600;
  font-size: 14px;
  color: inherit;
  cursor: pointer;
}
.btn:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-success {
  background: var(--success);
  border-color: var(--success);
  color: #fff;
}

.btn-success[disabled] {
  opacity: 0.6;
  cursor: default;
}

.m-0 {
  margin: 0;
}

.btn-text {
  background: #e6f3fb;
  border: none;
  padding: 8px 10px;
  width: 100%;
  font-weight: 600;
  color: inherit;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary);
}
